@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-tamil: var(--font-mukta);
}

@layer utilities {
  .animate-marquee {
    animation: marquee 25s linear infinite;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
